/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= reset
 *= require font-awesome
 *= require_self
 */

@import "bourbon"; // http://bourbon.io
@import 'partials/variables'; // colors, fonts..
@import 'partials/mixins';  // custom mixins
@import 'partials/layout';  // responsive grid and media queries

/* Primary Style */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  font: {
    size: 100%;
    family: $primary-font;
  }
  color: $main-text;
  background-color: $background;
}

a {
  color: $link;
  text-decoration: none;
  font-family: $secondary-font;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-family: $secondary-font;
  font-weight: bold;
}

/*  Modules  */

.cd-container {
  width: 90%;
  max-width: $L;
  margin: 0 auto;

  &::after { /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* Mian Components */

header {
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: $color-1;


  .logo {
    color: $color-3;
    @include font-size(18px);
    float: left;
    font-weight: bold;
    img {
      margin-bottom: -6px;
      margin-right: 8px;
    }
  }

  nav {
    font-family: $primary-font;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
    color: $main-text;
    .nav-left {
      line-height: 70px;
      position: absolute;
      left: 35%;
      bottom: auto;
    }

    .nav-right {
      float: right;
    }
    li {
      display: inline;
      padding: 39px 10px;
    }
    a:hover {
      color: $color-3;
    }
  }

  @include MQ(L){
    height: 70px;
    line-height: 70px;

    .logo {
      @include font-size(24px);
    }
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin: {
    top: 2em;
    bottom: 2em;
  }

  &::before {
    /* This is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: darken($background, 5%);
  }

  @include MQ(L) {
    margin: {
      top: 3em;
      bottom: 3em;
    }

    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
  @include clearfix;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include MQ(L){
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cd-timeline-img {
  position:absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;




  img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }

  &.cd-picture {
    background-color: $color-4;
  }

  @include MQ(L){
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;

    /*Force Hardware Acceleartion in WebKit*/
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

    .cssanimations &.is-hidden {
      visibility: hidden;
    }

    .cssanimations &.bounce-in {
      visibility: visible;
      @include animation(cd-bounce-1 .6s);
    }
  }
}

@include keyframes(cd-bounce-1){
  0% {
    opacity: 0;
    @include transform(scale(.5));
  }

  60% {
    opacity: 1;
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1));
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: $color-3;
  @include border-radius;
  padding: 1em;
  box-shadow: 0 3px 0 darken($background, 5%);
  @include clearfix;

  h2 {
    color: $color-1;
  }

  p, .cd-register, .cd-date {
    @include font-size(13px);
  }

  .cd-register, .cd-date {
    display: inline-block;
  }

  p {
    margin: .5em 0;
    line-height: 1.6;
  }

  .cd-register {
    float: right;
    padding: .8em 1em;
    background: #ff4f19;
    color: $color-3;
    @include border-radius;

    &:hover {
      background-color: lighten(#ff4f19, 5%);
    }
  }

  .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
  }

  &::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid $color-3;
  }

  @include MQ(M) {
    h2 {
      @include font-size(20px);
    }

    p {
      @include font-size(16px);
    }

    .cd-register, .cd-date {
      @include font-size(14px);
    }
  }

  @include MQ(L){
    margin-left: 0;
    padding: 1.6em;
    width: 45%;

    &::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: $color-3;
    }

    .cd-register {
      float: left;
    }

    .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      @include font-size(16px);
    }

    .cd-timeline-block:nth-child(even) & {
      float: right;

      &::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: $color-3;
      }

      .cd-register {
        float: right;
      }

      .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
      }
    }

    .cssanimations &.is-hidden {
      visibility: hidden;
    }

    .cssanimations &.bounce-in {
      visibility: visible;
      @include animation(cd-bounce-2 .6s);
    }
  }
}

@include MQ(L){
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    @include animation(cd-bounce-2-inverse .6s);
  }
}

@include keyframes(cd-bounce-2){
  0% {
    opacity: 0;
    @include transform(translateX(-100px));
  }

  60% {
    opacity: 1;
    @include transform(translateX(20px));
  }

  100% {
    @include transform(translateX(0));
  }
}

@include keyframes(cd-bounce-2-inverse){
  0% {
    opacity: 0;
    @include transform(translateX(100px));
  }

  60% {
    opacity: 1;
    @include transform(translateX(-20px));
  }

  100% {
    @include transform(translateX(0));
  }
}

.events {
  width: 200px;
  margin: 180px auto 35px auto;
  text-align: center;
  color: darken($background, 15%);
  @include font-size(32px);
}

#cd-timeline {
  margin-top: 0;
}

footer {
  margin-top: 126px;
  height: 70px;
  line-height: 70px;
  color: $color-1;
  font-size: 12px;
  background-color: lighten($color-1, 5%);
  bottom: 0;
  ul{
    text-align: center;;
    li{
      display: inline;
      margin-right: 20px;
      a:hover {
        color: #ff4f19;
      }
    }
  }
}


/* Forms */
.form-wrapper {
  width: 40%;
  margin: 8% auto 0 auto;
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    font-weight: bold;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  border: 2px solid darken($background, 15%);
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  &:focus {
    border: 2px solid darken($background, 30%);
  }
}

textarea {
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
  height: 36px;
}

input[type="submit"]{
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: darken($color-4, 10%);
  border: 1px solid $color-4;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: $color-3;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    background-color: darken($color-4, 5%);
    border: 1px solid $color-4;
  }
}

#btn-danger {
  background-color: $color-2;
  border: 1px solid $color-2;
}

/* Table */

.events-table {
  margin-top: 100px;
  h2 {
    color: darken($background, 15%);
    @include font-size(32px);
    text-align: center;
    margin-bottom: 50px;
  }
}
table {
  margin: auto;
}

th, td {
  border: 2px solid darken($background, 15%);
  padding: 12px 32px;
}

th {
  font-weight: bold;
}

.delete {
  color: $color-2;
}


/* Event Show */

.event-show {
  width: 60%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background: $color-3;
  @include border-radius;
  padding: 1em;
  box-shadow: 0 3px 0 darken($background, 5%);
  h2 {
    margin-bottom: 2em;
  }
  ul {
    margin-top: 2em;
    li {
      display: inline;
    }
  }
}


.btn {
  height: 32px;
  padding: .5em;
  border-radius: 3px;
  color: $color-3;
  font-weight: bold;
}

.btn-green {
  border: 1px solid $color-4;
  background-color: $color-4;
}
.btn-red {
  border: 1px solid $color-2;
  background-color: $color-2;
}
